html {
  background-color: #1B1D1E;
}

form {
  width: 17em;
  height: 180px;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #b6e3ff;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 80%;
  font-size: 24px;
  font-weight: bolder;
  color: #7CB8EC;
  text-align: center;
}

.input {
  width: 60%;
  height: 17%;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color: #7CB8EC;

  border-radius: 5px;
  border: 2px solid #E1EAF3;
  padding: 3px;
  padding-left: 13px;
  margin: 8px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  font-family: 'Open Sans', sans-serif;
  background-color: #A0F4BE;
  border-radius: 5px;
  border: 2px solid #A0F4BE;
  color: #1B1D1E;
  width: 105px;
  padding: 4px;
  font-size: 18px;
  font-weight: bolder;
  margin: 3px;
}
